@model int

<div class="container  pt-4">
    <div class="col-12 text-center">
        <h1 class="text-success text-center">Your Vacation is Confirmed!</h1>
        Your Order Number is : @Model <br />
        <p>You can view all order details in Manage Order Section.</p>
        <img src="~/images/orderConfirmed.jpg" style="border-radius:20px" width="65%" />
    </div>
    <div class="col-12 text-center text-warning">
        <p class="pt-1">Pack your bags! You are one step closer to an amazing vacation!</p>
    </div>

</div> 