@model RegisterVM

<div class="container pt-5">
    <div class="card shadow border ">
        <div class="card-header bg-success bg-gradient ml-0 py-4">
            <div class="row">
                <div class="col-12 text-center">
                    <h2 class="py-2 text-white">Register</h2>
                </div>
            </div>
        </div>
        <div class="card-body p-4">
            <div class="row pt-3">
                <div class="col-md-12">
                    <form class="row" method="post">
                        <input asp-for="RedirectUrl" hidden />
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-floating mb-3 col-md-12">
                            <input asp-for="Email" class="form-control" aria-required="true" />
                            <label asp-for="Email" class="ms-2 text-muted"></label>
                            <span asp-validation-for="Email" class="text-danger"/>
                        </div>
                        <div class="form-floating mb-3 col-md-6">
                            <input asp-for="Name" class="form-control" />
                            <label asp-for="Name" class="ms-2 text-muted"></label>
                            <span asp-validation-for="Name" class="text-danger" />
                        </div>
                        <div class="form-floating mb-3 col-md-6">
                            <input asp-for="PhoneNumber" class="form-control" />
                            <label asp-for="PhoneNumber" class="ms-2 text-muted"></label>
                            <span asp-validation-for="PhoneNumber" class="text-danger" />
                        </div>
                        <div class="form-floating mb-3 col-md-6">
                            <input asp-for="Password" class="form-control" />
                            <label asp-for="Password" class="ms-2 text-muted"></label>
                            <span asp-validation-for="Password" class="text-danger" />
                        </div>
                        <div class="form-floating mb-3 col-md-6">
                            <input asp-for="ConfirmPassword" class="form-control" />
                            <label asp-for="ConfirmPassword" class="ms-2 text-muted">Confirm Password</label>
                            <span asp-validation-for="ConfirmPassword" class="text-danger" />
                        </div>

                        <div class="form-floating mb-3 col-md-6">
                            <select asp-for="Role" asp-items="@Model.RoleList" class="form-select">
                                <option disabled selected>-Select Role-</option>
                            </select>
                        </div>
                        <div class="col-12">
                            <button type="submit" class="w-100 btn btn-lg btn-outline-success">Register</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
