<div class="container pt-5">
    <div class="card shadow border ">
        <div class="card-header bg-success bg-gradient ml-0 py-4">
            <div class="row">
                <div class="col-12 text-center">
                    <h2 class="py-2 text-white">Register</h2>
                </div>
            </div>
        </div>
        <div class="card-body p-4">
            <div class="row pt-3">
                <div class="col-md-12">
                    <form class="row" method="post">
                        <div class="form-floating mb-3 col-md-12">
                            <input class="form-control" aria-required="true" />
                            <label class="ms-2 text-muted">Email</label>
                        </div>
                        <div class="form-floating mb-3 col-md-6">
                            <input class="form-control" />
                            <label class="ms-2 text-muted">Full Name</label>
                        </div>
                        <div class="form-floating mb-3 col-md-6">
                            <input class="form-control" />
                            <label class="ms-2 text-muted">Phone Number</label>
                        </div>
                        <div class="form-floating mb-3 col-md-6">
                            <input class="form-control" />
                            <label class="ms-2 text-muted">Password</label>
                        </div>
                        <div class="form-floating mb-3 col-md-6">
                            <input class="form-control" />
                            <label class="ms-2 text-muted">Confirm Password</label>
                        </div>

                        <div class="form-floating mb-3 col-md-6">
                            <select class="form-select">
                                <option disabled selected>-Select Role-</option>
                            </select>
                        </div>
                        <div class="col-12">
                            <button type="submit" class="w-100 btn btn-lg btn-outline-success">Register</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>