@model VillaNumberVM

<div class="w-100 card border-0 p-4">
    <div class="card-header bg-success bg-gradient ml-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2">Update Villa Number</h2>
            </div>
        </div>
    </div>
    <div class="card-body border p-4">
        <form method="post" class="row">
            <input asp-for="VillaNumber.Villa_Number" hidden />
            <div class="p-3">

                <div class="form-floating py-1 col-12">
                    <select asp-for="@Model.VillaNumber.VillaId" asp-items="@Model.VillaList"
                            class="form-select border shadow">
                        <option disabled selected>--Select Villa--</option>
                    </select>
                    <label asp-for="VillaNumber.VillaId" class="ms-2"></label>
                    <span asp-validation-for="VillaNumber.VillaId" class="text-danger"></span>
                </div>
                <div class="form-floating py-1 col-12">
                    <input asp-for="VillaNumber.Villa_Number" disabled class="form-control border shadow" />
                    <label asp-for="VillaNumber.Villa_Number" class="ms-2"></label>
                    <span asp-validation-for="VillaNumber.Villa_Number" class="text-danger"></span>
                </div>
                <div class="form-floating py-1 col-12">
                    <input asp-for="VillaNumber.SpecialDetails" class="form-control border shadow" />
                    <label asp-for="VillaNumber.SpecialDetails" class="ms-2"></label>
                    <span asp-validation-for="VillaNumber.SpecialDetails" class="text-danger"></span>
                </div>
                <div class="row pt-2">
                    <div class="col-6 col-md-3">
                        <button type="submit" class="btn btn-success w-100">
                            <i class="bi bi-check-circle"></i> Update
                        </button>
                    </div>
                    <div class="col-6 col-md-3">
                        <a asp-controller="VillaNumber" asp-action="Index" class="btn btn-secondary w-100">
                            <i class="bi bi-x-circle"></i> Cancel
                        </a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}